body{
    margin: 0;
    height: 100vh;
}

.wrapper{
    background-color: lightblue;
    height: 100vh;
}

h1{
    margin: 0 10px 0 10px;
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inventory{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.inventory h2{
    text-align: center;
}

.textarea{
    background-color: white;
    margin: 10px;
}

.users{
    background-color: azure;
    width: 50%;
    height: 40%;
    overflow: scroll;
}